MODULES
HAVE_DOT_CONFIG
HOST_OS_LINUX
ramips
ramips_mt7621
ramips_mt7621_DEVICE_raisecom_msg1500-x-00
HAS_SUBTARGETS
HAS_DEVICES
BOARD
SUBTARGET
PROFILE
ARCH_PACKAGES
TARGET_OPTIMIZATION
CPU_TYPE
LINUX_5_4
base-files
block-mount
busybox
ca-bundle
ca-certificates
coremark
curl
default-settings
dnsmasq-full
dropbear
firewall
fstools
ip-full
ipset
iptables
iptables-mod-extra
iptables-mod-tproxy
iwinfo
kmod-crypto-hw-eip93
kmod-gpio-button-hotplug
kmod-ipt-raw
kmod-leds-gpio
kmod-mt7615d_dbdc
kmod-mtk-hnat
kmod-nf-nathelper
kmod-nf-nathelper-extra
kmod-tun
libc
libgcc
libustream-openssl
logd
luci
luci-app-arpbind
luci-app-autoreboot
luci-app-turboacc
luci-app-upnp
mtd
netifd
opkg
ppp
ppp-mod-pppoe
procd
procd-ujail
swconfig
uci
uclient-fetch
urandom-seed
urngd
wireless-tools
HAS_TESTING_KERNEL
AUDIO_SUPPORT
GPIO_SUPPORT
PCI_SUPPORT
USB_SUPPORT
RTC_SUPPORT
USES_DEVICETREE
USES_INITRAMFS
USES_SQUASHFS
USES_MINOR
HAS_MIPS16
NAND_SUPPORT
USES_ROOTFS_PART
USES_BOOT_PART
mipsel
ARCH
ROOTFS_INITRAMFS
INITRAMFS_COMPRESSION_LZMA
EXTERNAL_CPIO
ROOTFS_SQUASHFS
SQUASHFS_BLOCK_SIZE
UBIFS_FREE_SPACE_FIXUP
UBIFS_JOURNAL_SIZE
KERNEL_PARTSIZE
ROOTFS_PARTSIZE
JSON_OVERVIEW_IMAGE_INFO
SIGNED_PACKAGES
SIGNATURE_CHECK
DOWNLOAD_CHECK_CERTIFICATE
SHADOW_PASSWORDS
UILD_USER
UILD_DOMAIN
RINTK
WAP
EBUG_FS
ALLSYMS
EBUG_KERNEL
EBUG_INFO
EBUG_INFO_REDUCED
IO
O_URING
HANDLE
ANOTIFY
AGIC_SYSRQ
OREDUMP
LF_CORE
RINTK_TIME
EYS
GROUPS
REEZER
GROUP_PIDS
GROUP_RDMA
GROUP_BPF
PUSETS
GROUP_CPUACCT
ESOURCE_COUNTERS
M_OWNER
EMCG
EMCG_SWAP
EMCG_KMEM
GROUP_SCHED
AIR_GROUP_SCHED
FS_BANDWIDTH
T_GROUP_SCHED
LK_CGROUP
LK_DEV_THROTTLING
AMESPACES
TS_NS
PC_NS
SER_NS
ID_NS
ET_NS
EVPTS_MULTIPLE_INSTANCES
OSIX_MQUEUE
ECCOMP_FILTER
ECCOMP
P_MROUTE
P_MROUTE_MULTIPLE_TABLES
P_PIMSM_V1
P_PIMSM_V2
PV6
PV6_MULTIPLE_TABLES
PV6_SUBTREES
PV6_MROUTE
PV6_MROUTE_MULTIPLE_TABLES
PV6_PIMSM_V2
PV6_SEG6_LWTUNNEL
QUASHFS_FRAGMENT_CACHE_SIZE
C_OPTIMIZE_FOR_PERFORMANCE
IPV6
USE_SSTRIP
SSTRIP_ARGS
PKG_CHECK_FORMAT_SECURITY
PKG_ASLR_PIE_REGULAR
PKG_CC_STACKPROTECTOR_REGULAR
C_STACKPROTECTOR_REGULAR
TACKPROTECTOR
PKG_FORTIFY_SOURCE_1
PKG_RELRO_FULL
SECCOMP
BINARY_FOLDER
DOWNLOAD_TOOL_CUSTOM
DOWNLOAD_FOLDER
LOCALMIRROR
AUTOREBUILD
BUILD_SUFFIX
ROOTFS_DIR
CCACHE_DIR
FLAGS
EXTERNAL_KERNEL_TREE
IT_CLONE_URI
BUILD_LOG_DIR
EXTRA_OPTIMIZATION
OPTIMIZATION
SOFT_FLOAT
USE_MIPS16
EXTRA_BINUTILS_CONFIG_OPTIONS
EXTRA_GCC_CONFIG_OPTIONS
MUSL_DISABLE_CRYPT_SIZE_HACK
GDB
USE_MUSL
SSP_SUPPORT
BINUTILS_VERSION_2_39
BINUTILS_VERSION
GCC_VERSION_8
GCC_VERSION
LIBC
SUFFIX
PREINIT_SUPPRESS_STDERR
PREINIT_TIMEOUT
PREINIT_IFNAME
PREINIT_IP
PREINIT_NETMASK
PREINIT_BROADCAST
INIT_PATH
INIT_ENV
INIT_CMD
INIT_SUPPRESS_STDERR
PER_FEED_REPO
FEED_packages
FEED_luci
FEED_routing
FEED_telephony
base-files
block-mount
busybox
DEFAULT_HAVE_DOT_CONFIG
DEFAULT_INCLUDE_SUSv2
DEFAULT_LONG_OPTS
DEFAULT_SHOW_USAGE
DEFAULT_FEATURE_VERBOSE_USAGE
DEFAULT_LFS
DEFAULT_FEATURE_DEVPTS
DEFAULT_FEATURE_PIDFILE
DEFAULT_PID_FILE_PATH
DEFAULT_FEATURE_PREFER_APPLETS
DEFAULT_BUSYBOX_EXEC_PATH
DEFAULT_FEATURE_SYSLOG
DEFAULT_CROSS_COMPILER_PREFIX
DEFAULT_SYSROOT
DEFAULT_EXTRA_CFLAGS
DEFAULT_EXTRA_LDFLAGS
DEFAULT_EXTRA_LDLIBS
DEFAULT_INSTALL_APPLET_SYMLINKS
DEFAULT_PREFIX
DEFAULT_NO_DEBUG_LIB
DEFAULT_FEATURE_BUFFERS_GO_ON_STACK
DEFAULT_PASSWORD_MINLEN
DEFAULT_MD5_SMALL
DEFAULT_SHA1_SMALL
DEFAULT_SHA1_HWACCEL
DEFAULT_SHA256_HWACCEL
DEFAULT_SHA3_SMALL
DEFAULT_FEATURE_NON_POSIX_CP
DEFAULT_FEATURE_USE_SENDFILE
DEFAULT_FEATURE_COPYBUF_KB
DEFAULT_MONOTONIC_SYSCALL
DEFAULT_IOCTL_HEX2STR_ERROR
DEFAULT_FEATURE_EDITING
DEFAULT_FEATURE_EDITING_MAX_LEN
DEFAULT_FEATURE_EDITING_HISTORY
DEFAULT_FEATURE_TAB_COMPLETION
DEFAULT_FEATURE_EDITING_FANCY_PROMPT
DEFAULT_SUBST_WCHAR
DEFAULT_LAST_SUPPORTED_WCHAR
DEFAULT_TRY_LOOP_CONFIGURE
DEFAULT_FEATURE_SEAMLESS_GZ
DEFAULT_GUNZIP
DEFAULT_ZCAT
DEFAULT_BZIP2_SMALL
DEFAULT_GZIP
DEFAULT_GZIP_FAST
DEFAULT_FEATURE_GZIP_DECOMPRESS
DEFAULT_TAR
DEFAULT_FEATURE_TAR_CREATE
DEFAULT_FEATURE_TAR_FROM
DEFAULT_FEATURE_TAR_GNU_EXTENSIONS
DEFAULT_FEATURE_PRESERVE_HARDLINKS
DEFAULT_FEATURE_HUMAN_READABLE
DEFAULT_BASENAME
DEFAULT_CAT
DEFAULT_CHGRP
DEFAULT_CHMOD
DEFAULT_CHOWN
DEFAULT_CHROOT
DEFAULT_CP
DEFAULT_CUT
DEFAULT_DATE
DEFAULT_FEATURE_DATE_ISOFMT
DEFAULT_DD
DEFAULT_FEATURE_DD_SIGNAL_HANDLING
DEFAULT_FEATURE_DD_IBS_OBS
DEFAULT_DF
DEFAULT_DIRNAME
DEFAULT_DU
DEFAULT_FEATURE_DU_DEFAULT_BLOCKSIZE_1K
DEFAULT_ECHO
DEFAULT_FEATURE_FANCY_ECHO
DEFAULT_ENV
DEFAULT_EXPR
DEFAULT_EXPR_MATH_SUPPORT_64
DEFAULT_FALSE
DEFAULT_HEAD
DEFAULT_FEATURE_FANCY_HEAD
DEFAULT_ID
DEFAULT_LN
DEFAULT_LS
DEFAULT_FEATURE_LS_FILETYPES
DEFAULT_FEATURE_LS_FOLLOWLINKS
DEFAULT_FEATURE_LS_RECURSIVE
DEFAULT_FEATURE_LS_WIDTH
DEFAULT_FEATURE_LS_SORTFILES
DEFAULT_FEATURE_LS_TIMESTAMPS
DEFAULT_FEATURE_LS_USERNAME
DEFAULT_FEATURE_LS_COLOR
DEFAULT_FEATURE_LS_COLOR_IS_DEFAULT
DEFAULT_MD5SUM
DEFAULT_SHA256SUM
DEFAULT_FEATURE_MD5_SHA1_SUM_CHECK
DEFAULT_MKDIR
DEFAULT_MKFIFO
DEFAULT_MKNOD
DEFAULT_MKTEMP
DEFAULT_MV
DEFAULT_NICE
DEFAULT_PRINTF
DEFAULT_PWD
DEFAULT_READLINK
DEFAULT_FEATURE_READLINK_FOLLOW
DEFAULT_RM
DEFAULT_RMDIR
DEFAULT_SEQ
DEFAULT_SLEEP
DEFAULT_FEATURE_FANCY_SLEEP
DEFAULT_SORT
DEFAULT_SYNC
DEFAULT_FSYNC
DEFAULT_TAIL
DEFAULT_FEATURE_FANCY_TAIL
DEFAULT_TEE
DEFAULT_FEATURE_TEE_USE_BLOCK_IO
DEFAULT_TEST
DEFAULT_TEST1
DEFAULT_TEST2
DEFAULT_FEATURE_TEST_64
DEFAULT_TOUCH
DEFAULT_FEATURE_TOUCH_SUSV3
DEFAULT_TR
DEFAULT_TRUE
DEFAULT_UNAME
DEFAULT_UNAME_OSNAME
DEFAULT_UNIQ
DEFAULT_WC
DEFAULT_YES
DEFAULT_CLEAR
DEFAULT_DEFAULT_SETFONT_DIR
DEFAULT_RESET
DEFAULT_START_STOP_DAEMON
DEFAULT_WHICH
DEFAULT_AWK
DEFAULT_FEATURE_AWK_LIBM
DEFAULT_FEATURE_AWK_GNU_EXTENSIONS
DEFAULT_CMP
DEFAULT_SED
DEFAULT_VI
DEFAULT_FEATURE_VI_MAX_LEN
DEFAULT_FEATURE_VI_COLON
DEFAULT_FEATURE_VI_YANKMARK
DEFAULT_FEATURE_VI_SEARCH
DEFAULT_FEATURE_VI_USE_SIGNALS
DEFAULT_FEATURE_VI_DOT_CMD
DEFAULT_FEATURE_VI_READONLY
DEFAULT_FEATURE_VI_SETOPTS
DEFAULT_FEATURE_VI_SET
DEFAULT_FEATURE_VI_WIN_RESIZE
DEFAULT_FEATURE_VI_ASK_TERMINAL
DEFAULT_FEATURE_VI_UNDO_QUEUE_MAX
DEFAULT_FEATURE_ALLOW_EXEC
DEFAULT_FIND
DEFAULT_FEATURE_FIND_PRINT0
DEFAULT_FEATURE_FIND_MTIME
DEFAULT_FEATURE_FIND_MMIN
DEFAULT_FEATURE_FIND_PERM
DEFAULT_FEATURE_FIND_TYPE
DEFAULT_FEATURE_FIND_XDEV
DEFAULT_FEATURE_FIND_MAXDEPTH
DEFAULT_FEATURE_FIND_NEWER
DEFAULT_FEATURE_FIND_EXEC
DEFAULT_FEATURE_FIND_USER
DEFAULT_FEATURE_FIND_GROUP
DEFAULT_FEATURE_FIND_NOT
DEFAULT_FEATURE_FIND_DEPTH
DEFAULT_FEATURE_FIND_PAREN
DEFAULT_FEATURE_FIND_SIZE
DEFAULT_FEATURE_FIND_PRUNE
DEFAULT_FEATURE_FIND_PATH
DEFAULT_FEATURE_FIND_REGEX
DEFAULT_GREP
DEFAULT_EGREP
DEFAULT_FGREP
DEFAULT_FEATURE_GREP_CONTEXT
DEFAULT_XARGS
DEFAULT_FEATURE_XARGS_SUPPORT_CONFIRMATION
DEFAULT_FEATURE_XARGS_SUPPORT_QUOTES
DEFAULT_FEATURE_XARGS_SUPPORT_TERMOPT
DEFAULT_FEATURE_XARGS_SUPPORT_ZERO_TERM
DEFAULT_HALT
DEFAULT_POWEROFF
DEFAULT_REBOOT
DEFAULT_TELINIT_PATH
DEFAULT_FEATURE_KILL_DELAY
DEFAULT_INIT_TERMINAL_TYPE
DEFAULT_FEATURE_SHADOWPASSWDS
DEFAULT_LAST_ID
DEFAULT_FIRST_SYSTEM_ID
DEFAULT_LAST_SYSTEM_ID
DEFAULT_FEATURE_DEFAULT_PASSWD_ALGO
DEFAULT_LOGIN
DEFAULT_LOGIN_SESSION_AS_CHILD
DEFAULT_PASSWD
DEFAULT_FEATURE_PASSWD_WEAK_CHECK
DEFAULT_DEFAULT_MODULES_DIR
DEFAULT_DEFAULT_DEPMOD_FILE
DEFAULT_DMESG
DEFAULT_FEATURE_DMESG_PRETTY
DEFAULT_FLOCK
DEFAULT_HEXDUMP
DEFAULT_HWCLOCK
DEFAULT_MKSWAP
DEFAULT_MOUNT
DEFAULT_FEATURE_MOUNT_HELPERS
DEFAULT_FEATURE_MOUNT_CIFS
DEFAULT_FEATURE_MOUNT_FLAGS
DEFAULT_FEATURE_MOUNT_FSTAB
DEFAULT_PIVOT_ROOT
DEFAULT_SWAPON
DEFAULT_FEATURE_SWAPON_DISCARD
DEFAULT_FEATURE_SWAPON_PRI
DEFAULT_SWAPOFF
DEFAULT_SWITCH_ROOT
DEFAULT_UMOUNT
DEFAULT_FEATURE_UMOUNT_ALL
DEFAULT_FEATURE_MOUNT_LOOP
DEFAULT_FEATURE_BEEP_FREQ
DEFAULT_FEATURE_BEEP_LENGTH_MS
DEFAULT_CROND
DEFAULT_FEATURE_CROND_DIR
DEFAULT_CRONTAB
DEFAULT_LESS
DEFAULT_FEATURE_LESS_MAXLINES
DEFAULT_LOCK
DEFAULT_STRINGS
DEFAULT_TIME
DEFAULT_FEATURE_IPV6
DEFAULT_VERBOSE_RESOLUTION_ERRORS
DEFAULT_BRCTL
DEFAULT_FEATURE_BRCTL_FANCY
DEFAULT_FEATURE_BRCTL_SHOW
DEFAULT_FEATURE_HTTPD_PORT_DEFAULT
DEFAULT_IFCONFIG
DEFAULT_FEATURE_IFCONFIG_STATUS
DEFAULT_FEATURE_IFCONFIG_HW
DEFAULT_FEATURE_IFCONFIG_BROADCAST_PLUS
DEFAULT_IFUPDOWN_IFSTATE_PATH
DEFAULT_IP
DEFAULT_FEATURE_IP_ADDRESS
DEFAULT_FEATURE_IP_LINK
DEFAULT_FEATURE_IP_ROUTE
DEFAULT_FEATURE_IP_ROUTE_DIR
DEFAULT_FEATURE_IP_RULE
DEFAULT_FEATURE_IP_NEIGH
DEFAULT_NC
DEFAULT_NETMSG
DEFAULT_NETSTAT
DEFAULT_FEATURE_NETSTAT_WIDE
DEFAULT_FEATURE_NETSTAT_PRG
DEFAULT_NSLOOKUP
DEFAULT_FEATURE_NSLOOKUP_BIG
DEFAULT_NTPD
DEFAULT_FEATURE_NTPD_SERVER
DEFAULT_PING
DEFAULT_PING6
DEFAULT_FEATURE_FANCY_PING
DEFAULT_ROUTE
DEFAULT_FEATURE_TELNETD_PORT_DEFAULT
DEFAULT_TRACEROUTE
DEFAULT_TRACEROUTE6
DEFAULT_FEATURE_TRACEROUTE_VERBOSE
DEFAULT_DHCPD_LEASES_FILE
DEFAULT_UDHCPC
DEFAULT_UDHCPC_DEFAULT_SCRIPT
DEFAULT_UDHCPC6_DEFAULT_SCRIPT
DEFAULT_UDHCPC_DEFAULT_INTERFACE
DEFAULT_UDHCP_DEBUG
DEFAULT_UDHCPC_SLACK_FOR_BUGGY_SERVERS
DEFAULT_FEATURE_UDHCP_RFC3397
DEFAULT_IFUPDOWN_UDHCPC_CMD_OPTIONS
DEFAULT_FEATURE_MIME_CHARSET
DEFAULT_FEATURE_FAST_TOP
DEFAULT_FREE
DEFAULT_KILL
DEFAULT_KILLALL
DEFAULT_PGREP
DEFAULT_PIDOF
DEFAULT_PS
DEFAULT_FEATURE_PS_WIDE
DEFAULT_BB_SYSCTL
DEFAULT_TOP
DEFAULT_FEATURE_TOP_CPU_USAGE_PERCENTAGE
DEFAULT_FEATURE_TOP_CPU_GLOBAL_PERCENTS
DEFAULT_UPTIME
DEFAULT_SV_DEFAULT_SERVICE_DIR
DEFAULT_SH_IS_ASH
DEFAULT_BASH_IS_NONE
DEFAULT_SHELL_ASH
DEFAULT_ASH
DEFAULT_ASH_INTERNAL_GLOB
DEFAULT_ASH_BASH_COMPAT
DEFAULT_ASH_JOB_CONTROL
DEFAULT_ASH_ALIAS
DEFAULT_ASH_EXPAND_PRMT
DEFAULT_ASH_ECHO
DEFAULT_ASH_PRINTF
DEFAULT_ASH_TEST
DEFAULT_ASH_GETOPTS
DEFAULT_ASH_CMDCMD
DEFAULT_FEATURE_SH_MATH
DEFAULT_FEATURE_SH_MATH_64
DEFAULT_FEATURE_SH_NOFORK
DEFAULT_LOGGER
DEFAULT_FEATURE_SYSLOGD_READ_BUFFER_SIZE
DEFAULT_FEATURE_IPC_SYSLOG_BUFFER_SIZE
ca-bundle
ca-certificates
dnsmasq-full
dnsmasq_full_dhcp
dnsmasq_full_dhcpv6
dnsmasq_full_ipset
dnsmasq_full_tftp
dropbear
DROPBEAR_CURVE25519
DROPBEAR_ED25519
DROPBEAR_CHACHA20POLY1305
DROPBEAR_DBCLIENT
DROPBEAR_SCP
firewall
fstools
fwtool
getrandom
jsonfilter
libc
libgcc
libpthread
librt
logd
mtd
netifd
openwrt-keyring
opkg
procd
procd-seccomp
procd-ujail
rpcd
swconfig
ubox
ubus
ubusd
uci
urandom-seed
urngd
usign
wireless-tools
ZABBIX_POSTGRESQL
kmod-crypto-acompress
kmod-crypto-aead
kmod-crypto-arc4
kmod-crypto-authenc
kmod-crypto-des
kmod-crypto-ecb
kmod-crypto-hash
kmod-crypto-hw-eip93
MTK_EIP93_GENERIC_SW_MAX_LEN
MTK_EIP93_AES_128_SW_MAX_LEN
kmod-crypto-manager
kmod-crypto-md5
kmod-crypto-null
kmod-crypto-sha1
kmod-crypto-sha256
kmod-crypto-user
kmod-cryptodev
kmod-leds-gpio
kmod-asn1-decoder
kmod-lib-crc-ccitt
kmod-lib-lzo
kmod-lib-textsearch
kmod-ipt-conntrack
kmod-ipt-core
kmod-ipt-extra
kmod-ipt-fullconenat
kmod-ipt-ipset
kmod-ipt-nat
kmod-ipt-offload
kmod-ipt-raw
kmod-ipt-tproxy
kmod-nf-conntrack
kmod-nf-conntrack6
kmod-nf-flow
kmod-nf-ipt
kmod-nf-log
kmod-nf-nat
kmod-nf-nathelper
kmod-nf-nathelper-extra
kmod-nf-reject
kmod-nf-tproxy
kmod-nfnetlink
kmod-macvlan
kmod-mtk-hnat
kmod-ppp
kmod-mppe
kmod-pppoe
kmod-pppox
kmod-slhc
kmod-tcp-bbr
kmod-tun
kmod-gpio-button-hotplug
ZRAM_DEF_COMP_LZORLE
kmod-mt7615d
MTK_SUPPORT_OPENWRT
MTK_WIFI_DRIVER
MTK_FIRST_IF_MT7615E
MTK_SECOND_IF_MT7615E
MTK_THIRD_IF_NONE
MTK_RT_FIRST_CARD
MTK_RT_SECOND_CARD
MTK_RT_FIRST_IF_RF_OFFSET
MTK_RT_SECOND_IF_RF_OFFSET
MTK_MT_WIFI
MTK_MT_WIFI_PATH
MTK_FIRST_IF_EEPROM_FLASH
MTK_RT_FIRST_CARD_EEPROM
MTK_SECOND_IF_EEPROM_FLASH
MTK_RT_SECOND_CARD_EEPROM
MTK_MULTI_INF_SUPPORT
MTK_WIFI_BASIC_FUNC
MTK_DOT11_N_SUPPORT
MTK_DOT11_VHT_AC
MTK_G_BAND_256QAM_SUPPORT
MTK_BRCM_256QAM_SUPPORT
MTK_VHT_TXBF_2G_EPIGRAM_IE_SUPPORT
MTK_TPC_SUPPORT
MTK_ICAP_SUPPORT
MTK_SPECTRUM_SUPPORT
MTK_BACKGROUND_SCAN_SUPPORT
MTK_SMART_CARRIER_SENSE_SUPPORT
MTK_MT_DFS_SUPPORT
MTK_HDR_TRANS_TX_SUPPORT
MTK_HDR_TRANS_RX_SUPPORT
MTK_DBDC_MODE
MTK_MULTI_PROFILE_SUPPORT
MTK_WSC_INCLUDED
MTK_WSC_V2_SUPPORT
MTK_DOT11W_PMF_SUPPORT
MTK_TXBF_SUPPORT
MTK_IGMP_SNOOP_SUPPORT
MTK_RTMP_FLASH_SUPPORT
MTK_PRE_CAL_TRX_SET1_SUPPORT
MTK_RLM_CAL_CACHE_SUPPORT
MTK_PRE_CAL_TRX_SET2_SUPPORT
MTK_ATE_SUPPORT
MTK_UAPSD
MTK_TCP_RACK_SUPPORT
MTK_RED_SUPPORT
MTK_FIRST_IF_IPAILNA
MTK_SECOND_IF_IPAILNA
MTK_WIFI_MODE_AP
MTK_MT_AP_SUPPORT
MTK_WDS_SUPPORT
MTK_MBSS_SUPPORT
MTK_APCLI_SUPPORT
MTK_MAC_REPEATER_SUPPORT
MTK_MUMIMO_SUPPORT
MTK_MU_RA_SUPPORT
MTK_MCAST_RATE_SPECIFIC
MTK_VOW_SUPPORT
MTK_BAND_STEERING
MTK_LED_CONTROL_SUPPORT
MTK_PCIE_ASPM_DYM_CTRL_SUPPORT
MTK_LINUX_NET_TXQ_SUPPORT
MTK_WIFI_MT_MAC
MTK_MT_MAC
MTK_CHIP_MT7615E
kmod-mt7615d_dbdc
GOLANG_EXTERNAL_BOOTSTRAP_ROOT
GOLANG_BUILD_CACHE_DIR
libiwinfo-lua
lua
LUA_ECO_DEFAULT_OPENSSL
LUA_ECO_OPENSSL
NODEJS_12
libip4tc
libip6tc
libxtables
QT5_INCLUDE_ATOMIC
libopenssl
OPENSSL_OPTIMIZE_SPEED
OPENSSL_WITH_ASM
OPENSSL_WITH_DEPRECATED
OPENSSL_WITH_ERROR_MESSAGES
OPENSSL_WITH_TLS13
OPENSSL_WITH_SRP
OPENSSL_WITH_CMS
OPENSSL_WITH_CHACHA_POLY1305
OPENSSL_PREFER_CHACHA_OVER_GCM
OPENSSL_WITH_PSK
OPENSSL_ENGINE
OPENSSL_ENGINE_BUILTIN
OPENSSL_ENGINE_BUILTIN_AFALG
OPENSSL_ENGINE_BUILTIN_DEVCRYPTO
libopenssl-conf
WOLFSSL_HAS_AES_CCM
WOLFSSL_HAS_CHACHA_POLY
WOLFSSL_HAS_DH
WOLFSSL_HAS_ARC4
WOLFSSL_HAS_CERTGEN
WOLFSSL_HAS_TLSV10
WOLFSSL_HAS_TLSV13
WOLFSSL_HAS_SESSION_TICKET
WOLFSSL_HAS_OCSP
WOLFSSL_HAS_WPAS
WOLFSSL_HAS_ECC25519
WOLFSSL_HAS_OPENVPN
WOLFSSL_ALT_NAMES
libblobmsg-json
libbpf
libcurl
LIBCURL_OPENSSL
LIBCURL_FILE
LIBCURL_FTP
LIBCURL_HTTP
LIBCURL_COOKIES
LIBCURL_NO_SMB
LIBCURL_NGHTTP2
LIBCURL_PROXY
libelf
libiwinfo
libjson-c
liblua
libmnl
libnghttp2
libnl-tiny
libubox
libubus
libubus-lua
libuci
libuci-lua
libuclient
libustream-openssl
libuuid
rpcd-mod-rrdns
zlib
ZLIB_OPTIMIZE_SPEED
luci
luci-base
LUCI_LANG_zh-cn
luci-mod-admin-full
luci-app-arpbind
luci-app-autoreboot
luci-app-firewall
luci-app-qbittorrent_dynamic
luci-app-qbittorrent-simple_dynamic
luci-app-rclone_INCLUDE_rclone-webui
luci-app-rclone_INCLUDE_rclone-ng
luci-app-turboacc
luci-app-turboacc_INCLUDE_OFFLOADING
luci-app-turboacc_INCLUDE_BBR_CCA
luci-app-turboacc_INCLUDE_PDNSD
luci-app-udpxy
luci-app-upnp
luci-theme-bootstrap
luci-proto-ppp
luci-lib-ip
luci-lib-jsonc
luci-lib-nixio
luci-lib-nixio_openssl
default-settings
luci-i18n-arpbind-zh-cn
luci-i18n-autoreboot-zh-cn
luci-i18n-base-zh-cn
luci-i18n-firewall-zh-cn
luci-i18n-turboacc-zh-cn
luci-i18n-udpxy-zh-cn
luci-i18n-upnp-zh-cn
curl
iptables
iptables-mod-extra
iptables-mod-fullconenat
iptables-mod-tproxy
miniupnpd
pdnsd-alt
ip-full
uhttpd
uhttpd-mod-ubus
mtkiappd_DUAL_BAND
DRIVER_11N_SUPPORT
DRIVER_11AC_SUPPORT
ipset
libipset
ppp
ppp-mod-pppoe
uclient-fetch
udpxy
coremark
COREMARK_OPTIMIZE_O3
COREMARK_ENABLE_MULTITHREADING
COREMARK_NUMBER_OF_THREADS
iwinfo
jshn
libjson-script
maccalc
shellsync
STRACE_NONE
ubi-utils
